/*SIVUJEN SISÄLLÖT*/

/*etusivu*/

#etusivu-hero {
  display: flex;
  justify-content: center;  /* vaakakeskus */
  align-items: flex-start;  /* vie sisältö ylös */
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url('taustakuva.jpg') no-repeat center center;
  background-size: cover;
}

.hero-text-box {
  max-width: 900px;
  margin: 0 auto;
  padding-top:5vh;
  padding-left: 1rem;    
  padding-right: 1rem;
}


.fs-custom {
    font-size: 1.5rem !important; 
}
